<html lang="en">
<head>
<meta charset="utf-8" />
<title> CrocBucket</title>
<link rel="stylesheet" href="./style.css">
</head>
<body>
<header>
<h1 class="container">CrocBucket</h1>
<p class="tagline">
   Share Your Memories.
</p><!-----/.tagline------->
</header>
	<article>
</article>
<section>
<div>
<p>published: 14.06.2014, 12:14</p>
<h2><a href="">My first post</a></h2>
<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id </div>
<div>
<p>published: 14.06.2014, 12:14</p>
<h2><a href="">My second post</a></h2>
<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id </div>
</section>
<br/>
<br/>
<footer>
<ul>
	<li class="copyright">
	&copy; 2016 Majixx
	</li><!---/.copyright--->
	<li>
	Part of <em> Majixx: php, css3, html5, Web, Mobile&rsquo;s Next Big Thing</em>
	</li>
	<li>
	<a href="http://Majix.ml">MajixxCorp</a> | 
	<a href="http://netesy.ml">Netesy</a>
	</li>
</ul>
</footer>
</body>
</html>