/*Basic Font Styles
---------------------------------------------*/
body{
	font:18/24px;
	color: #1f1b0c;
	letter-spacing: .06em;
}
h1{
	color: #fbf7e7;
	font-weight: normal;
	margin: 0;
	font-size: 6em;
	line-height:1em;
	letter-spacing: -.1em;
}
h2 {
	text-shadow: 0 0 10px rgba(31, 27, 12, .3);
	margin: 0 0 .5em;
	font-size:2.75em;
	line-height: 1em;
	letter-spacing: -.08em;
}
p {
	text-align: center;
}
form p {
	margin: 0 0 1em;
	padding: 0;
	font-size: 1.37em;
}
label {
	font-size: .75em;
	line-height: 1.25em;
	letter-spacing: .04em;
}
input {
	color: #fbf7e7;
	background-color: #1f1b0c;
	border-radius: 6px;
	boder: none;
	font-size: 1.75em;
	line-height: 1em;
	letter-spacing: -.08em;
	text-shadow: 0 0 10px rgba(31,27, 12, .3);
}
label input {
	font-size:1.75em;
	letter-spacing: .08em;
	color: #1f1b0c;
	background-color: #fff;
}
.tagline{
	font-size: 1.1em;
	line-height: 1em;
	color: #fbf7e7;
	letter-spacing: .12em;
}
 a {
	color:#e06f00;
	text-decoration:none;
}
 a:active, a:hover, a:focus {
	text-decoration: underline;
	outline: none;
}

/*Layout Rules
----------------------------*/
html { background-color: #fbf7e7;}

body { margin:0;}
header,footer {
		-webkit-box-shadow: 0 0 10px rgba(31,27,12, .3);
			box-shadow: 0 0 10px rgba(31,27,12, .3);
}

header, footer {
	overflow: hidden;
	background:#1f1b0c;
	margin:0;
	padding: 1em;
	text-align: center;
}

header{
	margin-bottom: 3em;
	color: #fbf7e7;
	padding: 3em 0 2em;
}
header h1, header p {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

header h1 { margin-bottom: .25;
		-webkit-mask-image: url(./images/splatter-mask_1.png);
	   mask-image: url(./images/splatter-mask_1.png); }
article {
	text-align: center;
	float: center;
}
nav {
	position: sticky;
	overflow: hidden;
	background:#1f1b0c;
	margin:0;
	padding: 1em;
	color: #fbf7e7;
	text-align: center;
}
nav ul {
   float:right;
}
nav ul li{
	background-color: inherit;
	list-style-type: none;
	list-style: disc;
}
section {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.container h1 {
	font: 35em/100% "Oswald", sans-serif;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	color: #fff;
	/* the property that creates the splatter effect */
	-webkit-mask-image: url(./images/splatter-mask_1.png);
	mask-image: url(./images/splatter-mask_1.png);
}
form {
	float: left;
	width:460px;
	text-align: center;
}
form#login{ float:right;}
label {
	display: block;
	width: 430px;
	margin: 0 auto 1em;
	text-indent: 2px;
	text-align: left;
}
label input {
	display: block;
	width:400px;
	margin: 0;
	padding: .373em 15px;
	-webkit-border-radius: 6px;
		border-radius: 6px;
	-webkit-box-shadow: insert 2px 2px 14px rgbna(31, 27, 12, .3);
		box-shadow: insert 2px 2px 14px rgbna(31, 27, 12, .3);
}
input {
	margin: .25em;
	padding: .37em .875em;}

footer {
	margin-top: 6em;
	color: #fbf7e7;
	text-align: center;
 }
footer ul {
	overflow:hidden;
	width: 960px;
	margin:0 auto;
	padding: 0;
	color: #fbf7e7
}
footer li {
	float:right;
	margin-left: 1em;
	list-style: none;
}

footer li.copyright{ float:left; margin-left:0;}
/*HighLights
------------------------------------------*/
input:active, input:hover, input:focus {
	background-color: #e06f00;
	outline: none;
}
input::-moz-focus-inner {border:0;}

/* Media Queries
-------------------------------------------*/

@Media screen and (max-width:960px)
{
	header h1, header p {width: 760px;}
	header {padding: .75em 0 1.2em;}
	section: { width: 740px; }
	p { margin: 0 0 2em; padding: 0;}
	header>p,section>p{ font-size: .875em; }
	form {width
	footer { margin-top: 4em; padding:0;}
	footer ul{width: 740px;}
	footer li,footer li.copyright { float:none; margin: .75em 0;}
}

@Media scree and (max-width:768px)
{
	header h1, header p {width: 90%;min-width: 200px}
	header {padding-bottom: .75em;}
	header h1 {font-size: 2.4em;}
	footer { margin-top: 3em; }
	footer ul{width: 200px;}
}
